<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ingreso de usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:include="template/header.html" th:remove="tag"></div>
    </head>
    <div th:include="template/nav.html" th:remove="tag"></div>
    <body>
        <div class="container">
            <div class="row justify-content-md-center center">
                <div class="col-md-8">
                    <h2 class="col-md-12">Crear Nuevo Usuario</h2>
                    <form id="adminForm" th:object="${adminForm}" method="post">
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" name="name" required="true"/>
                        </div>
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Numero de Documento" name="id" required="true"/>
                        </div>
                        <div class="form-group" id="user-group">
                            <input type="email" class="form-control" placeholder="Correo Electronico" name="email" required="true"/>
                        </div>
                        <div class="form-group" id="user-group">
                             <select required="true" class="form-control" name="rol">
                                <option  value="1">Administrador</option>
                                <option selected="true "value="2">Cliente</option>
                            </select>
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input type="password" class="form-control" placeholder="Contrasena" name="pass" required="true"/>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Crear Usuario </button>
                        <button type="button" onClick="location.href='listForm'" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Lista de usuarios </button>           
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
